<div class="stop-details">
  <div class="circle"><span>{{number}}</span></div>
  <div class="stop-name">{{name}}</div>
  {{#each directions}}
    <div class="direction">{{name}}</div>
    <ul class="clear">
    {{#each predictions}}
    {{#if seconds}}
    <li><span>{{seconds}}</span> <span>Seconds</span></li>
    {{else}}
    <li><span>{{minutes}}</span> <span>Minutes</span></li>
    {{/if}}
    {{/each}}
    </ul>
  {{/each}}
</div>
