<li class="route line-{{abbr}} {{#if isExpress}}express{{/if}} {{#if isLimited}}limited{{/if}} {{#if isOwl}}owl{{/if}}">
  <div class="inner">
    <span class="direction out"></span>
    <span class="number">{{abbr}}</span>
    <span class="name">{{name}}</span>
    <span class="direction in"></span>
  </div>
</li>
