html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Helvetica Neue UltraLight, Helvetica Neue, Helvetica, sans-serif;
  font-weight: 200;
}

.clear:before,
.clear:after {
  content: " ";
  display: table;
}

.clear:after {
  clear: both;
}

#app, #app .main {
  width: 100%;
  height: 100%;
}

.main {
  background: url('/images/bg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: 65% 0;
  overflow-y: scroll;
}


.main > .inner {
  margin-bottom: 1em;
}

.menu {
  position: fixed;
  left: 0.5em;
  bottom: 0.5em;
}

.menu > .inner {
  position: relative;
}

.menu .menu-button {
  transition: all 250ms ease-in-out;
  position: absolute;
  bottom: 0;
  width: 2em;
  height: 2em;
  background: steelblue;
  z-index: 1000;
}

.menu-button:after {
  content: 'M';
  font-size: 1.5em;
  padding: 0.25em;
}

.menu-button.expand {
  bottom: 7em;
  -webkit-transform: rotate(360deg);
}

.menu-button.expand + ul li {
  -webkit-transform: rotateX(0deg);
}

.menu ul {
  position: absolute;
  bottom: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  transition: all 250ms ease-in-out;
  -webkit-transform: rotateX(90deg);
  background: rgba(255,255,255,0.75);
  margin-bottom: 0.25em;
  padding: 1em;
}


ul.routes {
  margin: 0 0 0 2em;
  padding: 0;
  list-style-type: none;
}

li.route {
  transition: all 250ms ease-in-out;
  float: left;
  width: 8em;
  height: 8em;
  padding: 0.5em 0;
}

li.route.directions {
  transform: scale(0.5);
  -webkit-transform: scale(0.5);
}

.route .direction {
  transition: all 250ms ease-in-out;
  display: block;
  position: absolute;
  background: rgb(200,200,255);
  height: 2em;
  width: 2em;
  border-radius: 2em;
  opacity: 0;
  z-index: 10;
}

.route .direction.out {
  -webkit-transform: scale(0) translate(3em,2em);
}

.route .direction.in {
  -webkit-transform: scale(0) translate(3em,-2.45em);
}

.route.directions .direction.out {
  -webkit-transform: scale(2) translate(0, 2em);
  opacity: 1;
}

.route.directions .direction.in {
  -webkit-transform: scale(2) translate(0, -2.45em);
  opacity: 1;
}

.route .direction.out:after {
  content: 'out';
  position: relative;
  top: 0.35em;
}

.route .direction.in:after {
  content: 'in';
  position: relative;
  top: 0.35em;
}

.route .inner {
  position: relative;
  width: 100%;
  height: 100%;
}

.route span {
  display: block;
  text-align: center;
}

.route span.number {
  transition: all 250ms ease-in-out;
  position: relative;
  z-index: 10;
  font-size: 2.25em;
  padding-top: 0.75em;
  text-shadow: 2px 2px 1px rgba(100,100,100,0.75);
}

.route:hover span.number {
  color: #eee;
}

.route span.name {
  position: absolute;
  bottom: 0;
  left: 1em;
  right: 1em;
  font-size: 0.85em;
}

.route .inner:before, .line:hover .inner:before {
  transition: all 250ms ease-in-out;
  content: '';
  position: absolute;
  top: 0;
  left: 1em;
  height: 6em;
  width: 6em;
  z-index: 0;

  border: 1px solid #CCC;
  border-radius: 6em;
  background: rgba(255,255,255,0.65);
}

.express .number:after, .limited .number:after, .owl .number:after {
  display: block;
  font-size: 0.35em;
  margin-top: -0.5em;
  text-shadow: none;
}

.express .number:after {
  content: 'express';
}

.limited .number:after {
  content: 'limited';
}

.owl .number:after {
  content: 'owl';
}

.stops {
  list-style-type: none;
  margin: 0.75em;
  padding: 0;
}

.stops li.stop {
  background: rgba(255,255,255,0.75);
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 0.75em 0.5em;
}

.stop-details {
  position: relative;
  width: 85%;
  max-width: 20em;
  margin: 1em auto;
  padding: 1em;
  background: rgba(255,255,255,0.75);
}

@media only screen (min-device-width: 321px){
  .stop-detail {
    float: left;
    margin: 1em;
  }
}

.stop-details .stop-name, .stop-details .direction {
  text-align: center;
}

.stop-details .circle {
  position: absolute;
  top: -0.15em;
  left: -0.15em;
  width: 1.5em;
  height: 1.5em;
  border-radius: 2em;
  border: 1px solid #999;
  background: rgba(255,255,255,0.75);
  font-size: 2em;
}

.stop-details .circle span {
  display: block;
  position: relative;
  top: 5px;
  width: 1.5em;
  text-align: center;
}

.stop-details ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.stop-details li {
  position: relative;
  float: left;
  margin: 0;
  padding: 1em;
}

.stop-details li:first-child {
  float: none;
  width: 80%;
  text-align: center;
  font-size: 2em;
  margin: 0 auto;
  padding: 0.5em;
}

.stop-details li:first-child span {
  display: block;
}
.route:hover .inner:before {
  background: salmon;
}


.line-J span.number {
  color: #faa634;
}

.line-J .inner:before {
  border-color: #faa634;
  background-size: 150%;
  background: url('/images/line-j-sm.jpg') 2% 80% no-repeat; // http://www.flickr.com/photos/theoverheadwire/
}

.line-J:hover .inner:before {
  background: #faa634;
}

.line-KT span.number {
  color: blue;
}

.line-KT .inner:before {
  background: url('/images/line-kt-sm.jpg') 75% 25% no-repeat; // http://www.flickr.com/photos/pfsullivan_1056/
  border-color: blue;
}

.line-KT:hover .inner:before {
  background: blue;
}

.line-L span.number {
  color: #92278f;
}

.line-L .inner:before {
  background: url('/images/line-l-sm.jpg') 75% 25% no-repeat; // http://www.flickr.com/photos/aarontait/
  border-color: #92278f;
}

.line-L:hover .inner:before {
  background: #92278f;
}

.line-M span.number {
  color: #008752;
}

.line-M .inner:before {
  background: url('/images/line-m-sm.jpg') 75% 25% no-repeat; // http://www.flickr.com/photos/14305456@N05/
  border-color: #008752;
}

.line-M:hover .inner:before {
  background: #008752;
}

.route-L {
  background-image: url('/images/line-l-lrg.jpg') !important;
  background-position: 75% 50%;
}
.route-M {
  background-image: url('/images/line-m-lrg.jpg') !important;
  background-position: 75% 50%;
}
.route-J {
  background-image: url('/images/line-j-lrg.jpg') !important;
  background-position: 20% 50%;
}
.route-KT {
  background-image: url('/images/line-kt-lrg.jpg') !important;
  background-position: 75% 50%;
}
